* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  /* 
  fonts:
  font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
  */

  body{
      background-color: rgba(216, 211, 211, 0.797);
      font-family: 'Roboto', sans-serif;
  }
  header{
      
      width: 100vw;
  }
  h1{
    font-family: 'Montserrat', sans-serif;
  }
  nav{
      flex-direction: row;
      justify-content: space-around;

  }
  nav, .brand{
      display: flex;
  }
.brand img{
    width: 60px;
    height: 70px;
    margin-right:-2px;
}
.brand h1{
    margin-top: 15px;
}

ul{
    list-style-type: none;
    margin: 20px;
}
li{
    display: inline;
    margin: 20px;
}
li a{
    text-decoration: none;
}
.hero{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.hero h2{
    margin: 20px;
}