* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  /* 
  fonts:
  font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
  */

  body{
      background-color: #eee;
      font-family: 'Roboto', sans-serif;
  }
  header{
      
      width: 100vw;
  }
  h1{
    font-family: 'Montserrat', sans-serif;
  }
  nav{
      background-color: #eee;
      min-height: 70px;
      width: 100%;
      position: fixed;
      flex-direction: row;
      justify-content: space-around;
  }
  .linkList{
      float
  }
  nav, .brand{
      display: flex;
  }
.brand img{
    width: 60px;
    height: 70px;
    margin-right:-2px;
}
.brand h1{
    margin-top: 15px;
}

ul{
    list-style-type: none;
    margin: 20px;
}
li{
    display: inline;
    margin: 20px;
}
li a{
    text-decoration: none;
}
.hero{
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.hero h2{
    margin: 20px;
}
#email{
    width: 300px;
    height: 20px;
    border: 2px solid;
}
 #submit{
    background-color: #FFD166;
    width: 80px;
    height: 25px;;
}
#features{
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.description{
    display: flex;
    flex-direction: row;
    min-width: 600px;
}
.description i{
    width: 150px;
    color:#fe5f55;
}
.howTo{
    min-height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.video{
    margin-top: 45px;
}
.options{
    width: 100%;
    min-height: 450px; 
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin: 0;
    
}
.opt{
border: 2px solid #CAC4CE;
margin: 50px;
width: 20%;
max-height: 250px;
display: flex;
flex-direction: column;
text-align: center;
border-radius: 4px;
}
.opt h3{
    background-color: rgb(145, 197, 216);
    height: 30px;
    padding-top: 10px;
}

.opt h2, .opt p{
    margin: 20px;
    font-weight: bold;
}
button{
    display: flex;
    width: 90px;
    padding-left: 23px;
    margin: 0 auto;
    height: 30px;
    border-radius: 2px;
    background-color: #41B6E6;
    font-weight: bolder;
}