* {
    margin: 0;
    padding: 0;
 
  }
  /* 
  fonts:
  font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
  */

/*   Refactors */
footer, button, nav, form, .brand, .hero, .description,.howTo, #features, .opt, .options{
    display: flex;
}

  body{
      background-color: #eee;
      font-family: 'Roboto', sans-serif;
      width: 100%;
    }
  header{
      width: 100%;
  } 

  header h1{
    font-family: 'Montserrat', sans-serif;
  }
 
  nav{
      background-color: #eee;
      height: 70px;
      width: 100%;
      position: fixed;
      flex-direction: row;
      justify-content: space-around;
  }
  .linkList{
      float:right;
  }
  
.brand img{
    width: 60px;
    height: 70px;
    margin-right:-2px;
}
.brand h1{
    margin-top: 15px;
}

ul{
    list-style-type: none;
    margin: 20px;
}
li{
    display: inline;
    margin: 20px;
}
li a{
    text-decoration: none;
}
.hero{
    height: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.hero h2{
    margin: 20px;
}
form{
    height: 90px;
    width: 100%;
   
    flex-direction: row;
    align-items: center;
}
#email{
    width: 30%;
    height: 20px;
    border: 2px solid;
    margin-left: 15%;
}
 #submit{
    background-color: #FFD166;
    width: 80px;
    height: 25px;
    margin: 10px;
}
#features{
    min-height: 450px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.description{
    flex-direction: row;
    width: 60%;
}
.description i{
    width: 150px;
    color:#fe5f55;
}
.howTo{
    height: 450px;

    flex-direction: row;
    justify-content: center;
}
.video{
    margin-top: 45px;
}
.options{
    width: 100%;
    min-height: 450px; 
    flex-direction: row; 
    justify-content: center;
    margin: 0;
    
}
.opt{
border: 2px solid #CAC4CE;
margin: 50px;
width: 20%;
max-height: 250px;
flex-direction: column;
text-align: center;
border-radius: 4px;
}
.opt h3{
    background-color: rgb(145, 197, 216);
    height: 30px;
    padding-top: 10px;
}

.opt h2, .opt p{
    margin: 20px;
    font-weight: bold;
}
button{

    width: 90px;
    padding-left: 23px;
    margin: 0 auto;
    height: 30px;
    border-radius: 2px;
    background-color: #41B6E6;
    font-weight: bolder;
}
footer{
    border-radius: 3px;
    margin: auto;
    width: 80%;
 
    flex-direction: row;
    min-height: 80px;
    background-color: lightslategray;
    justify-content: flex-end;
}
.links, .links a, .links p{
  margin: 10px;
  text-decoration: none;
  color: black;
}
@media (max-width: 750px){
    header{
       height: 250px;
    }
    nav, ul li, .options, .linkList{
        flex-direction: column;
    }
    nav{
        height: 300px;
    }
    .hero{
        margin: auto;
        width: 100%;
    }
    iframe{
        width: 90%;
    }
    .options{
        align-items: center;
    }
    .opt{
        width: 45%
    }
    ul li{
        display: flex;
        align-items: center;
    }
  

}  